<!DOCTYPE html>
<html>
<head>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
        <link rel="icon" type="image/png" href="../assets/img/favicon.png">
        <title>
            Argon Dashboard 2 by Creative Tim
        </title>
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <!-- Nucleo Icons -->
        <link href="~/Content/assets/css/nucleo-icons.css" rel="stylesheet" />
        <link href="~/Content/assets/css/nucleo-svg.css" rel="stylesheet" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
        <link href="~/Content/assets/css/nucleo-svg.css" rel="stylesheet" />
        <!-- CSS Files -->
        <link href="~/Content/assets/css/argon-dashboard.css" rel="stylesheet" />
    </head>
</head>
<body class="sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_LayoutLeft")

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    @Html.Partial("_LayoutTop")
                </div>
            </nav>

            <div class="main-content">
                <div class="container-fluid">
                    <!--      here you can write your content for the main area                     -->
                    <div id="body">
                        @RenderBody();
                        @RenderSection("featured", required: false)
                    </div>
                </div>
            </div>


            <!-- ======= Footer ======= -->
            <footer id="footer" class="footer">
                <div class="copyright">
                    &copy; Copyright <strong><span>Amwims</span></strong>. All Rights Reserved
                </div>

            </footer><!-- End Footer -->
        </div>

    </div>
</body>

<script src="~/Content/assets/js/core/popper.min.js"></script>
<script src="~/Content/assets/js/core/bootstrap.min.js"></script>
<script src="~/Content/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="~/Content/assets/js/plugins/smooth-scrollbar.min.js"></script>
<script src="~/Content/assets/js/plugins/chartjs.min.js"></script>
<script src="~/Content/assets/js/argon-dashboard.min.js"></script>
</html>
